.fleet {
  /* background-color: green; */
}

.shipsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.shipsListConfig {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.shipItem {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  column-gap: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 5px solid #1a1a1a;
  border-radius: 1rem;
}
