.root {
  position: absolute;
  inset: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
}

.waypointMapOut {
  /* height: 100%; */
  width: var(--zoom);
  top: var(--top);
  left: var(--left);
  aspect-ratio: 1 / 1;
  background-color: grey;
  position: absolute;
  /* translate: -25% -25%; */
  /* scale: 0.5; */
}

.waypointMapIn {
  width: 100%;
  height: 100%;
  position: relative;
}
