.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  border-bottom: 5px solid #1a1a1a;
}
.nav {
  list-style: none;
  display: flex;
}

.nav li {
  margin-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}
.nav li a {
  display: contents;
}
